.listcard-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.listcard-details {
  margin: 0 1rem;
}
.listcard-button-container {
  margin: 0 0.5rem;
}
