@use '/src/scss';

.listcard-container {
  display: flex;
  border: 1px solid scss.$card-border-color;
  border-radius: 5px;
  padding: 0.6rem;
  height: 150px;
  align-items: stretch;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 300px;
}

.listcard-details {
  padding: 0 1rem;
  text-align: left;
  flex: 3;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: scss.$color-light;
  font-size: 1.2rem;

  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.listcard-button-container {
  margin-left: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: auto;
  z-index: 1;
}

.card-button {
  height: 1.7rem;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  align-items: center;
  background-color: rgba(221, 221, 221, 0.7);
  border-radius: 25px;
  border-bottom: 2px solid #444;
  color: scss.$color-dark;
  width: 100%;
}

.delete-button {
  &:hover {
    color: #e00c0c;
  }
}

.edit-button {
  &:hover {
    color: #e0b90c;
  }
}
