@use '/src/scss';

.signin-screen {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.signup-link-container {
  margin-top: 1rem;
  display: flex;
  justify-content: left;

  span {
    padding: 0 0.5rem;
  }
  a {
    color: scss.$input-button-color;
    &:hover {
      color: #ddd;
    }
  }
}
