$background-color-dark: #333;
$background-color-light: #eee;
$color-light: #eee;
$color-dark: #444;

$input-border-color-blue: rgb(152, 209, 235);

$main-color-hover: rgba(220, 40, 80, 0.9);
$main-color: rgb(220, 40, 80);

$nav-background-color: rgb(211, 21, 81);
