$background-color-dark: hsl(0, 0%, 20%);
$background-color-light: hsl(0, 100%, 100%);
$color-light: hsl(0, 50%, 100%);
$color-dark: hsl(0, 0%, 25%);
$header-color: rgb(223, 12, 65);

$input-border-color-blue: rgb(152, 209, 235);
$input-button-color-hover: rgba(223, 12, 65, 0.8);
$input-button-color: rgb(223, 12, 65);

$card-border-color: rgb(199, 40, 88);

$nav-background-color: rgb(200, 40, 90);
