$background-color-dark: hsl(0, 0%, 20%);
$background-color-light: hsl(0, 100%, 100%);
$color-light: hsl(0, 50%, 100%);
$color-dark: hsl(0, 0%, 25%);
$header-color: rgb(216, 16, 220);
$button-color-blue: rgb(49, 174, 231);
$border-color-blue: rgb(152, 209, 235);
$button-color-purple: rgb(250, 25, 220);

$button-color-purple-hover: rgb(216, 16, 220);
$border-color-light-blue: rgb(162, 190, 190);
