.add-restaurant-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 4rem;

  button {
    height: 1.7rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(52, 151, 201);
    color: #222;
    box-shadow: -0.5px -0.5px 4px #333 inset;

    &:hover {
      color: aliceblue;
      background-color: rgb(74, 164, 209);
    }
  }
}

.add-restaurant-label {
  display: flex;
  flex-basis: content auto;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  p {
    flex: 1;
    text-align: left;
    color: rgb(106, 188, 230);
  }
  input {
    flex: 2;
    height: 1.5rem;
    padding-left: 0.5rem;
    caret-color: rgb(186, 34, 206);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }
}
