@use './scss';

.app {
  position: relative;
}

.main {
  display: flex;
  color: scss.$color-light;
  text-align: center;
  background-color: scss.$background-color-dark;
  justify-content: center;
  margin: 1rem auto;
}
