.restaurant-list-container {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  width: 100%;
}
.restaurant-list-listitem::marker {
  content: '\2764';
  font-size: 1rem;
  color: red;
}

.restaurant-list-listitem::before {
  content: '';
  padding-left: 0.5rem;
}

.restaurant-list-listitem:hover::marker {
  content: '\2764';
  font-size: 1.1rem;
  color: blue;
}
