@use '/src/scss';

.signup-screen {
  width: 90%;
  margin: 1rem auto;
  max-width: 40rem;
}

.signin-link-container {
  margin-top: 1rem;
  display: flex;
  justify-content: left;

  span {
    padding-right: 0.5rem;
  }
  a {
    color: scss.$main-color;
    &:hover {
      color: #ddd;
    }
  }
}
